@using Model;
@using BLL;
@using DAL;
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8/">
    <title>Segurança Particular</title>
    <meta charset=UTF-8> <!-- ISO-8859-1 -->
    <meta name=viewport content="width=device-width, initial-scale=1.0"> <!-- não se deve travar o zoom-->
    <meta name=description content=""> <!-- 360caracteres, porem com perdas após 160 caracteres-->
    <meta name=keywords content=""> <!-- Opcional -->
    <meta name=author content=''>
    <meta name=application-name content=StackOverflow>
    <!-- favicon, arquivo de imagem podendo ser 8x8 - 16x16 - 32x32px com extensão .ico -->
    <link rel="shortcut icon" href="imagens/icone.png" type="image/x-icon">

    <!-- CSS PADRÃO -->
    <link href="css/default.css" rel=stylesheet>
    <!-- Telas Responsivas -->
    <link rel=stylesheet media="screen and (max-width:480px)" href="css/style480.css">
    <link rel=stylesheet media="screen and (min-width:481px) and (max-width:768px)" href="css/style768.css">
    <link rel=stylesheet media="screen and (min-width:769px) and (max-width:1024px)" href="css/style1024.css">
    <link rel=stylesheet media="screen and (min-width:1025px)" href="css/style1025.css">


</head>
<body>
    <div id="interface">
        <header id="cabecalho">
            <div class="logo">
                <img src="imagens\logoOficial.png">
            </div>
            @{
                DateTime dateAgora = DateTime.Now;
                string agora = dateAgora.ToString();
                agora = agora.Substring(0, 10);

                Funcionario Func = (Funcionario)Session["usuarioLogado"];

                if (Request.HttpMethod == "GET")
                {

                    if (Request.QueryString["Sair"] != null)
                    {
                        FuncionarioBLL FuncBLL = new FuncionarioBLL();
                        FuncBLL.logout();
                        <script>window.location.href = "Index.cshtml"</script>
                    }
                }


                if (Func == null)
                {
                    <script>
                        alert("Acesso Negado!");
                        window.location.href = "Index.cshtml";
                    </script>
                }
                else
                {

                    <form method="get" action="Index.cshtml" id="frmSair">
                        <input type="hidden" value="sair" id="sair" name="sair" />
                        <input id="btnSair" type="submit" value="   Sair   ">
                    </form>
                }

                if (Request.HttpMethod == "POST")
                {
                    if (Request.Form["txtRelatorio"].ToString().Length < 1)
                    {
                        <script>alert("Relatório Inválido!");
                            document.getElementById("txtRelatorio").focus();
                        </script>
                    }
                    else
                    {
                        string data = Request.Form["txtData"].ToString();
                        string rel = Request.Form["txtRelatorio"].ToString();
                        string idFunc = Func.Id_func;

                        Relatorio Rel = new Relatorio("", data, rel, idFunc);
                        RelatorioBLL relBLL = new RelatorioBLL();
                        string resultado = relBLL.adicionar(Rel);

                        if (String.IsNullOrEmpty(resultado))
                        {
                            <script type="text/javascript">alert("Relatório registrado com sucesso")</script>
                        }
                        else
                        {
                            <script type="text/javascript">alert("Dados inválidos")</script>
                        }
                    }

                }
            }

            <label id="labelHamburguer" for="toggle">&#9776;</label>
            <input type="checkbox" id="toggle" />
            <div class="menu">

                <ul class="menuHome">
                    <li> <a href="Index.cshtml"> Home </a> </li>
                    <li> <a href="Servicos.cshtml" class="menuServicos"> Serviços  </a> </li>
                    <li> <a href="TrabalheConosco.cshtml" class="menuTrabalho">Trabalhe Conosco </a> </li>
                    @{
                        if (Func != null)
                        {
                            <li> <a href="Escalas.cshtml" class="menuServicos"> Escalas  </a> </li>
                            <li> <a href="Relatorio.cshtml" class="menuTrabalho">Relatório </a> </li>
                        }
                    }
                </ul>

            </div>

        </header>
        <h2>Relatório</h2>

        <form id="fRelatorio" method="post">
            <div id="LabelData"><label for="diaa" style="font-size: 20px"> Faça seu Relatório:</label></div>
            <div id="InputData"><input type="text" readonly="readonly" name="txtData" value="@agora"></div><br />
            <textarea name="txtRelatorio" id="txtRelatorio" rows="20" cols="40" placeholder="Relatório"></textarea>
            </br>
            <input type="submit" class="btnGravar" name="gravarRelatorio" style="font-size: 15px" value="Gravar" />
        </form>
        </br>
        <footer>

            <h3><u><i>SegurSys</i></u></h3>
            <p>
                Uma Empresa criada para Você
                “Segurança ácima de Tudo!”
            </p><br />
            <p>
                Endereço: R. Ricarte Sewaybricker, 52 -
                Centro, Jandira
            </p>- SP 06600-045
            Telefone: (11) 4789-29955</p>
            <p>Email: Segursys777@gmail.com</p>

            <figure id="mapa">
                <a href=https://www.google.com.br/search?rlz =1C1NDCM_pt-BRBR815BR815&q =jandira+shopping&npsic =0&rflfq =1&rlha =0&rllag =-23528518,-46902145,44&tbm =lcl&ved =2ahUKEwjl1uzu7-ndAhWDtVMKHQf_CskQtgN6BAgAEAQ&tbs =lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2&rldoc =1#rlfi =hd:;si:12720122442488774887;mv:!3m12!1m3!1d400.1058533616324!2d-46.902145499999996!3d-23.528518149999996!2m3!1f0!2f0!3f0!3m2!1i10!2i21!4f13.1> <img src="imagens\JandiraOficial.png"></a>
            </figure>


        </footer>
    </div>
</body>
</html>