#login{width:50px;left:77%;margin-top: 5px}


body{background:url() repeat;width:100%;height:992px;color: rgb(0,0,0,1);}
div#interface{width: 90%;background-color: white;margin: -2px auto 0px auto;box-shadow: 0px 0px 10px rgba(0,0,0,.5);padding:10px}
nav#menu {display:block;}
div.logo{position: absolute; left: 58px; top:120px;width:80% ; height: 69px;}

nav#menu ul{text-transform: uppercase;position: absolute;top:260px;left: 160px;background-color:rgba (#0070c0); }
nav#menu li{ display: inline;background-color:rgba(#0070c0);padding:05px;margin:10px; left: 280px}
.menuHome{	width: 500px; top:100px; left: -70px;}
.menuServicos{	width: 386px; top:150px; left: -59px;}
.menuTrabalho{	width: 386px; top:250px; left: 10px;}

h2{width:63%;padding-left: 37%}
h4{font-size: 130%;background-color: #0070c0;padding-left:  2%;padding-right: 2%;width: 25%;border-radius: 10px}
.h4SegurançaPatrimonial{font-size: 22px;
	background-color: #0070c0;
	padding-left:  2%;
	padding-right: 5%;
	width: 17%;
	border-radius: 10px}
	.h4Rondas{font-size: 22px;
		background-color: #0070c0;
		padding-left:  1%;
		padding-right: 0.5%;
		width: 15%;
		border-radius: 10px}
		.h4Monitoramento{font-size: 22px;
			background-color: #0070c0;
			padding-left:  2%;
			padding-right: 5%;
			width: 25%;
			border-radius: 10px}

			header{height: 286px;}

			footer{width: 100%;height: 404px;background-color:#C5C1C0}
			footer figure#mapa img{position: relative;width:80%;height:170px;left: 10%;top: 10px;}
			/*--------------------Trabalhe Conosco----------------------*/
			div#TConosco{margin-left: 100px; width: 70%; margin-top: 5px;}
			.h2TConosco{padding-left: 35%; width:65%}


			/*--------------------Relatório----------------------*/
			.clnRelatorio{background-color: #C5C1C0;}
			form#fRelatorio textarea#textArea{font-size: 18px;width: 90%;margin-left:  30px}
			.btnGravar{margin-left: 250px}

			/*--------------------Escalas---------------------*/
			.h2480{width: 90%;padding-left: 10%}
			p#pEscala{width: 77%; font-size: 20px;margin-left: -65px; background-color: white; top: 10px}
			p#pEscala2{width: 77%; font-size: 18px;margin-left: -500px; background-color: white; top: 165px}
			div#Escalas{background-color: #D9B310; font-size: 5px;position: relative ;width: 90%;height: 165px;left:28px; top: 10px;margin-bottom: 80px; }
			div#Escalas th, td{background-color: #C5C1C0;font-size: 12.5px; padding-left: 1px; width: 1%;height: 50px}
